* {
    font-family: 'monospace', Courier;
}

.logo {
    margin-left: 16px;
    margin-top: 16px;
    height: 75px;    
}

.picture {
    width: 200px;
    height: auto;
    border: 5px solid lightseagreen;
    border-radius: 10%;
}

.intro-pic {
    border-radius: 50%;
    border: 5px solid white;
}

ul, .links {
    display: flex;
    text-decoration: none;
    column-gap: 16px;
    list-style: none;
    color: white;
    font-size: 18px;
}

.header {
    flex: 1;
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
}

body { 
    margin:0;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.intro-pic {
    height: 200px;
    margin-right: 50px;
}

.intro {
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding-bottom: 50px;
}

.left-intro {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 50px;
}

.right-header {
    padding-right: 32px;
}

.intro-button {
    width: 100px;
    font-weight: 700;
    background-color: lightseagreen;
    color: white;
    border-radius: 5%;
    border: 50px;
    border-color: white;
    padding: 8px 16px;
    margin-top: 32px;
    box-shadow: 0 2px 4px darkslategray;
    transition: all 0.2s ease;
}

button:active {
    box-shadow: 0 0 2px darkslategray;
    transform: translateY(2px);
}

.images {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.text, .portfolio {
    margin-top: 16px;
    text-decoration: none;
    list-style: none;
    color: black;
}

.title {
    text-align: center;
    margin-top: 50px;
}

.words {
    font-size: 18px;
    padding: 0px 300px;
}

.cite {
    padding: 0px 300px;
    text-align: right;
}

.quote {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;   
    background-color: #e5e7eb;
    padding: 50px
}

.call-to-action {
    margin: 50px;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.box {
    display:flex;
    background-color: lightseagreen;
    padding: 50px;
    border-radius: 25px;
}

.button-footer {
    width: 100px;
    font-weight: 700;
    background-color: lightseagreen;
    color: white;
    border-radius: 5%;
    border: 50px;
    border-color: white;
    box-shadow: 0 2px 4px darkslategray;
    transition: all 0.2s ease;
    margin: 0 50px;
}

.container {
    display:flex;
    flex-direction: column;
}

.small-text {
    margin-top: 10px;
    font-size: 12px;
    font-weight: normal;
    color: white;
}

.footer {
    background-color: #1f2937;
    text-align: center;
    padding: 25px;
    color: white;
}